body { background : aliceblue;}

div{
    text-align: center;
}

.title{
    text-align: center;
}
.box{
    height: 400px;    
}
img{
    height: 100%;
    width: 100%;
}

#flex-container {
    display: flex;
    gap: 20px;
    justify-content: center;
  }
#infoTitle{
    text-align: left;
}
#briefInfo{
    text-align: left;
}
  
